
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Giriş yap!</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                  
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== Login Page Content Start ==-->
<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Hoşgeldiniz!</h3>
                        <form action="Giris" method="post">
                            <div class="username">
                                <input type="text" name="kul" placeholder="Email / Username">
                            </div>
                            <div class="password">
                                <input type="password" name="sifre" placeholder="Şifre">
                            </div>
                            <div class="log-btn">
                                <button type="submit"><i class="fa fa-sign-in"></i> Giriş yap!</button>
                            </div>
                        </form>
                    </div>

                    <div class="login-other">
                        <span class="or">YA DA</span>
                        <a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Facebook</a>
                        <a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Google</a>
                    </div>
                    <div class="create-ac">
                        <p>Hesabınız yok mu? <a href="~/tr/kayit">Kayıt ol!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Login Page Content End ==-->
