
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--== Slider Area Start ==-->
<section id="slider-area">
    <!--== slide Item One ==-->
    <div class="single-slide-item overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="book-a-car">
                        <form action="index.html">
                            <!--== Pick Up Location ==-->
                            <div class="pickup-location book-item">
                                <h4>PICK-UP LOCATION:</h4>
                                <select class="custom-select">
                                    <option selected>Select</option>
                                    <option value="1">Dhaka</option>
                                    <option value="2">Comilla</option>
                                    <option value="3">Barishal</option>
                                    <option value="3">Rangpur</option>
                                </select>
                            </div>
                            <!--== Pick Up Location ==-->
                            <!--== Pick Up Date ==-->
                            <div class="pick-up-date book-item">
                                <h4>PICK-UP DATE:</h4>
                                <input id="startDate" placeholder="Pick Up Date" />

                                <div class="return-car">
                                    <h4>Return DATE:</h4>
                                    <input id="endDate" placeholder="Return Date" />
                                </div>
                            </div>
                            <!--== Pick Up Location ==-->
                            <!--== Car Choose ==-->
                            <div class="choose-car-type book-item">
                                <h4>CHOOSE CAR TYPE:</h4>
                                <select class="custom-select">
                                    <option selected>Select</option>
                                    <option value="1">BMW</option>
                                    <option value="2">Audi</option>
                                    <option value="3">Lexus</option>
                                </select>
                            </div>
                            <!--== Car Choose ==-->

                            <div class="book-button text-center">
                                <button class="book-now-btn">Araç Bul!</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>HEMEN ARAÇ KİRALA!</h1>
                                <p>+20 den fazla donanımlı araç filomuz ile<br> ekonomik ve sigortalı kiralama hizmeti.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== slide Item One ==-->
</section>
<!--== Slider Area End ==-->

<!--== Fun Fact Area Start ==-->
<section id="funfact-area" class="overlay section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 col-md-12 m-auto">
                <div class="funfact-content-wrap">
                    <div class="row">
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-smile-o"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">550</span>+</p>
                                    <h4>Kayıtlı Müşterilerimiz</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-car"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">250</span>+</p>
                                    <h4>Donanımlı Araç Filomuz</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-bank"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">1</span>+</p>
                                    <h4>Kiralama Ofislerimiz</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--== Mobile App Area Start ==-->
<div id="mobileapp-video-bg"></div>
<section id="mobile-app-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mobile-app-content">
                    <h2>MOBİL UYGULAMAMIZI DENEYİMLEYİN!</h2>
                    <p>Android &amp; iOS platfromlarını destekliyor.</p>
                    <div class="app-btns">
                        <a href="#"><i class="fa fa-android"></i> Android Store</a>
                        <a href="#"><i class="fa fa-apple"></i> Apple Store</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Mobile App Area End ==-->