<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KullaniciServisSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54501/KullaniciServis.asmx"
                binding="basicHttpBinding" bindingConfiguration="KullaniciServisSoap"
                contract="KullaniciSoapServis.KullaniciServisSoap" name="KullaniciServisSoap" />
        </client>
    </system.serviceModel>
</configuration>