<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AracSOAPServiceSoap" />
                <binding name="KullaniciSoapServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59008/AracSOAPService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AracSOAPServiceSoap"
                contract="AracSoapService.AracSOAPServiceSoap" name="AracSOAPServiceSoap" />
            <endpoint address="http://localhost:59008/KullaniciSoapService.asmx"
                binding="basicHttpBinding" bindingConfiguration="KullaniciSoapServiceSoap"
                contract="KullaniciSoapServis.KullaniciSoapServiceSoap" name="KullaniciSoapServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>