<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KullaniciServisSoap" />
                <binding name="AracServisSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54501/KullaniciServis.asmx"
                binding="basicHttpBinding" bindingConfiguration="KullaniciServisSoap"
                contract="KullaniciSoapServis.KullaniciServisSoap" name="KullaniciServisSoap" />
            <endpoint address="http://localhost:54501/AracServis.asmx" binding="basicHttpBinding"
                bindingConfiguration="AracServisSoap" contract="AracServis.AracServisSoap"
                name="AracServisSoap" />
        </client>
    </system.serviceModel>
</configuration>